body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.person {
	margin: 10px auto 10px auto;
	width: 400px;
	height: auto;
	border: 1px solid #eeeeee;
	padding: 20px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.mainmenu{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}